{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% block content%}
<h2 class="mt-3"><a href="#">Enrollment App</a> > Create</h2>
<div class="row">
    <div class="col-md-7 ml-5">
<form method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class="btn btn-success mt-3 px-5">
            Save
        </button>
    <a href="#" class="btn btn-secondary mt-3 px-5">Cancel</a>
    </form>
    </div>
    <div class="col-md-5">

    </div>
</div>
{% endblock %}
</body>
</html>